.avt {
    border-radius: 50%;
    border: 5px solid gray;
    filter: drop-shadow(10px 10px 5px black);
    transition: left 0.2s ease, top 0.2s ease;
    cursor: pointer;
}

.avt:hover {
    transform: scale(1.1);
}

